
<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{username}}!</h2>
    <p>Thank You for singning up!<br> 
    We look forward to you beign part of 
    our TechWreck Community!</p>
    <hr>
    <h2>Your Account Information</h2>
    <ul>
        <li>Name: {{username}}</li>
        <li>Account#: {{id}}</li>
        <li>Password: {{password}}</li>
        <li>email: {{email}}</li>
    </ul>
  </div>

<hr>

  <div>
    <h3>WHAT WOULD YOU LIKE TO DO NEXT?</h3>
    <a class="btn btn-primary" href="/discussion" role="button">Create a Post</a>
    <a class="btn btn-primary" href="/generalresource" role="button">See General Resources</a>
    <a class="btn btn-primary" href="#" role="button">Latest Posts</a>
    <a class="btn btn-primary" href="#" role="button">See Latest Tech News</a>
    <a class="btn btn-primary" href="#" role="button">Contact TechWreck</a>
    <a class="btn btn-primary" href="/profile" role="button">Update Your Imformation</a>
  </div>

<div>
<div class = "container mr-2 cont2">
    <img src = "https://static.vecteezy.com/system/resources/thumbnails/005/545/335/small/user-sign-icon-person-symbol-human-avatar-isolated-on-white-backogrund-vector.jpg" alt = "user profile filler"></img>
    <p>WELCOME USER</p>
    <h1 class = 'userid'> USERNAME:  ?? </h1>
    <h2 class = "email"> EMAIL ADDRESS: @@@ </h2>
    <h2 class = "amount of posts"> POSTS CREATED BY USER: int <h2>
</div>
</div>